<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <h1>SIGN UP TODAY!</h1>
    <%= form_for(@user) do |f| %>
    <div class="form-group">
      <%= f.label :email, "E-Mail" %>
      <%= f.text_field :email, placeholder: "E-Mail", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, class: "form-control", placeholder: "password" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password confirmation" %>
    </div>
    <%= f.submit "Lets Go!", class: "btn btn-primary btn-lg btn-block" %>
    <% end %>
  </div>
</div>
