<div class="container">
<div class="row">
  <div class="col-md-3 sidebar">
    <section class="new">

    <h4>NEW</h4>
    <%= form_for(Link.new) do |f| %>
    <div class="form-group">
      <%= f.label :title, "Title" %>
      <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :link, "Link" %>
      <%= f.text_field :link, placeholder: "Link", class: "form-control" %>
    </div>
    <%= f.submit "GO!", class: "btn btn-primary btn-block" %>
    <% end %>
    </section>

    <section class="sorting">
      <h4>SORT</h4>

      <div>
        search:
        <input type="text" id="search-box" class="form-control">
      </div>

      <div>
        see by status:
        <div>
          <button type="button" class="btn btn-primary" id="filter-read">read</button>
          <button type="button" class="btn btn-primary" id="filter-unread">unread</button>
        </div>
      </div>

      <div>
        <button type="button" class="btn btn-primary" id="alphabetically">Sort Alphabetically!</button>
      </div>
    </section>
  </div>
  <div class="col-md-9 main-area">

    <div class="links">
      <% if @links %>
      <% @links.each do |link| %>
        <div class="link link-<%= link.id %> read-<%= link.read %>" data-search-term="<%= link.title %>">
        #<%= link.id %>
        <%= link_to link.title, link.link %>

        <br />read:
        <% if link.read %>
        <%= content_tag :span, class: "link-read" do %>
        <% end %>
        -
        <%= link_to '#', class: "read", id: "link-#{link.id}", data: {id: link.id} do %>
        <%= content_tag :span %>
        <% end %>
        <% else %>
        <%= content_tag :span, class: "link-unread" do %>
        <% end %>
        -
        <%= link_to '#', class: "unread", id: "link-#{link.id}", data: {id: link.id} do %>
        <%= content_tag :span %>
        <% end %>
        <% end %>

        - <%= link_to "edit", edit_link_path(link.id) %>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>
